[submodule ".registry"]
	path = .registry
	url = https://github.com/ropenspain/ropenspain.r-universe.dev
	branch = HEAD
[submodule "climaemet"]
	path = climaemet
	url = https://github.com/rOpenSpain/climaemet
[submodule "comidistar"]
	path = comidistar
	url = https://github.com/rOpenSpain/comidistar
[submodule "infoelectoral"]
	path = infoelectoral
	url = https://github.com/rOpenSpain/infoelectoral
[submodule "INEbaseR"]
	path = INEbaseR
	url = https://github.com/rOpenSpain/INEbaseR
[submodule "LAU2boundaries4spain"]
	path = LAU2boundaries4spain
	url = https://github.com/rOpenSpain/LAU2boundaries4spain
[submodule "tidyBdE"]
	path = tidyBdE
	url = https://github.com/rOpenSpain/tidyBdE
[submodule "enseResp"]
	path = enseResp
	url = https://github.com/rOpenSpain/enseResp
[submodule "rostemplate"]
	path = rostemplate
	url = https://github.com/rOpenSpain/rostemplate
[submodule "mapSpain"]
	path = mapSpain
	url = https://github.com/rOpenSpain/mapSpain
[submodule "MorbiditySpainR"]
	path = MorbiditySpainR
	url = https://github.com/rOpenSpain/MorbiditySpainR
[submodule "senadoRES"]
	path = senadoRES
	url = https://github.com/rOpenSpain/senadoRES
[submodule "airqualityES"]
	path = airqualityES
	url = https://github.com/rOpenSpain/airqualityES
[submodule "BOE"]
	path = BOE
	url = https://github.com/rOpenSpain/BOE
[submodule "spanish"]
	path = spanish
	url = https://github.com/rOpenSpain/spanish
[submodule "istacbaser"]
	path = istacbaser
	url = https://github.com/rOpenSpain/istacbaser
[submodule "istacr"]
	path = istacr
	url = https://github.com/rOpenSpain/istacr
[submodule "caRtociudad"]
	path = caRtociudad
	url = https://github.com/rOpenSpain/caRtociudad
[submodule "Siane"]
	path = Siane
	url = https://github.com/rOpenSpain/Siane
[submodule "MicroDatosEs"]
	path = MicroDatosEs
	url = https://github.com/rOpenSpain/MicroDatosEs
[submodule "CatastRo"]
	path = CatastRo
	url = https://github.com/rOpenSpain/CatastRo
[submodule "CatastRoNav"]
	path = CatastRoNav
	url = https://github.com/rOpenSpain/CatastRoNav
[submodule "opendataes"]
	path = opendataes
	url = https://github.com/rOpenSpain/opendataes
